<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
	<div class="container">
		<div class="login">
			<h2>Login Form</h2>
			<form id ="login-form">
				<div class="input-group">
					<label></label>
					<input type="text" name="username" required placeholder="Username">
					<label></label>
					<input type="password" name="password" required placeholder="Password">
				</div>
				<button type="submit" class="btn" onclick="login()">Login</button>
			</form>
		</div>
	</div>
</body>
</html>
